body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    margin: 0;
}

header {
    background: #1e293b;
    padding: 20px;
    text-align: center;
}

input {
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px;
    background: #22c55e;
    border: none;
    cursor: pointer;
}

.news, .videos {
    padding: 20px;
}

.card {
    background: #1e293b;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
}

iframe {
    margin: 10px;
}

#results {
    padding: 20px;
}